.jumbotron{
    padding-top: 5rem;
    background-color: #e2edff;    
}

#projects{
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}

section .whatsap{
    margin-left: -5px;
}

section .No .whatsap{
    margin-left: -5px;
}

section .btn{
    width: 100%;
}

.masuk button{
  width: 120px;
  border: 1px solid #5DC3B2;
  height: 45px;
  border-radius: 50px;
  background-color: #5DC3B2;
}

.collapse .toko_desa{
  color: #5DC3B2;
}

.kontak{
  margin-top: -10px;
}

.logo img{
    width: 220px;
    height: 45px;
}

.gambar {
  margin-top: 80px;
}

.gambar .teks_1{
  color: #65D4B3;
}



      .nav_menu{
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
      }
      
      .nav_menu div {
        width: 25px;
        height: 3px;
        background-color: black;
        transition: transform 0.3s ease;
      }

      .container{
        /* display: flex; */
        align-items: center;
      }

      .tombol2 button{
        background-color: #65D4B3;
        border: 1px solid #65D4B3;
        width: 130px;
        height: 45px;
        border-radius: 15px;
        color: white;
        font-size: 22px;
        /* margin-left: 47%; */
      }

      .nav_menu{
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
      }
      
      .nav_menu div {
        width: 25px;
        height: 3px;
        background-color: black;
        transition: transform 0.3s ease;
      }

      .row a{
        color: black;
        text-decoration: none;
      }

      .btn i{
        color: rgb(250, 250, 47);
      }

       .colom img{
        width: 20%;
        border-radius: 15px;
       }


       .plus-min{
        display: flex;
        align-items: center;
       }
    
       .plus-min p{
        padding: 10px;
       }
    
       .plus-min button{
        width: 45px;
        height: 45px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        background-color: white;
       }
    
       .plus-min input{
        width: 35px;
        height: 45px;
        border: 1px solid white;
       }
    
       .plus-min #quantity{
        font-size: 30px;
        margin: 0 10px 0 10px;
       }

       .plus-min h5{
        padding: 10px;
        align-items: center;
        font-weight: 400;
       }


       .plus-min i{
        font-size: 20px;
       }

       /* .plus-min h5{
        padding: 10px;
        align-items: center;
       } */
      
    
    .button5-6{
      width: 347px;
      height: 52px;
    }

    .btn5{
      width: 158px;
      height: 52px;
      border-radius: 50px;
      color: #FF7A00;
      border: 1px solid #FF7A00;
      background-color: white;
    }

    .btn6{
      width: 171px;
      height: 52px;
      border-radius: 50px;
      color: white;
      border: 1px solid #FF7A00;
      background-color: #FF7A00;
    }

   .sosmed{
    width: 50%;
   }

   .sosmed img{
    width: 55px;
    border-radius: 50px;
   }


  .nav-item1{
    display: flex;
    align-items: center;
  }


  footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 8%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .footer-links{
    margin-left: 15%;
  }
  
  /* Footer Sections */  
  .footer-about img{
    width: 200px;
    margin-left: 10%;
  }
  
  .footer-links ul {
    list-style: none;
  }
  
  .footer-links li {
    /* margin-bottom: 10px; */
    margin: 20px;
    
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  .well{
    margin-left: 79%;
  }
  
  /* Footer Bottom */
  .well i {
    text-align: center;
    margin-left: 45%;
  }
  .well {
    display: flex;
    margin-right: 14%;
  }

  /* *{
    box-sizing: border-box;
} */
/* .masuk button{
    width: 80px;
    border: 1px solid #5DC3B2;
    height: 40px;
    border-radius: 50px;
    background-color: #5DC3B2;
} */

.collapse .toko_desa{
    color: #5DC3B2;
}
.hero{
    margin-top: 100px;
}
.hero .teks_1{
    color: #5DC3B2;
}
.hero img{
    border-radius: 10px ;
}
.kolom_gambar img{
    width: 20%;
}
.hero .kolom_1{
    width: 70%;
}
.hero .kolom_2{
    width: 30%;
}
.hero .b_1{
    width: 78px;
    height: 33px;
    border: 1px solid #5DC3B2;
    background-color: #5DC3B2;
    border-radius:17px ;
}
.bintang{
    color: #FDC72F;
}
.love{
    width: 66px;
    height: 66px; border-radius: 20px;
    border: 1px solid #E9E9E9;
}
/* .minus{
    width: 41px;
    height: 41px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}
.plus{
    width: 41px;
    height: 41px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}
.jumlah{
    width: 200px;
} */

.tombol .b_2, .b_3{
    width: 156px;
    height: 52px;
    border-radius: 50px;
}
.tombol .b_3{
    background-color: #FF7A00;
    border: 1px solid #FF7A00;
}
.tombol .b_2{
    border: 1px solid #FF7A00;
    color: #FF7A00;
}
/* .sosmed{
    width: 50%;
}
.sosmed img{
    width: 17%;
    border-radius: 50px;
} */
.footer{
    background-color: #2B2C2B;
}
.footer hr{
    color: #FAFBFD;
}
.list{
    width: 60%;
    display: flex;
    align-items: center;
}
.list a{
    text-decoration: none;
    color: #FAFBFD;
}
.footer .icon{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 24px;
    gap: 15px;
}
.footer .icon .bi{
    color: white;
}

  /* .card-body h2{
    font-size: 32px;
    font-weight: 600;
    margin-left: 20%;
  }
  .card-body h3{
    font-size: 16px;
    font-weight: 500;
    margin-top: -8.5%;
    margin-left: 33%;
  }
  .card-body i{
    color: yellow;
    margin-left: 5%;
  }
  .card-body h4{
    font-size: 16px;
    font-weight: 500;
    color: rgba(31, 47, 89, 1);
    margin-top: 3%;
    margin-left: 18%;
  }
  .card-body h5{
    font-size: 16px;
    font-weight: 500;
    color: rgba(31, 47, 89, 1);
    margin-top: -25%;
    margin-left: 60%;
  }
  
  .card-body h6{
    font-size: 16px;
    font-weight: 500;
    color: rgba(31, 47, 89, 1);
    margin-top: 0%;
    margin-left: 59.5%;
  }
  
  .card-body h7{
    font-size: 16px;
    font-weight: 500;
    color: rgba(31, 47, 89, 1);
    margin-top: 0%;
    margin-left: 59.5%;
  }
  
  .card-body h8{
    font-size: 16px;
    font-weight: 500;
    color: rgba(31, 47, 89, 1);
    margin-top: 0%;
    margin-left: 59.5%;
  }
  
  .card-body h9{
    font-size: 16px;
    font-weight: 500;
    color: rgba(31, 47, 89, 1);
    margin-top: 0%;
    margin-left: 59.5%;
  }
  .card-body i1{
    color: yellow;
    margin-left: 1%
  }
  
  .card-body i2{
    color: yellow;
    margin-left: 1%
  }
  
  .card-body i3{
    color: yellow;
    margin-left: 1%
  }
  
  .card-body i4{
    color: yellow;
    margin-left: 1%
  }
  .card-body i5{
    color: yellow;
    margin-left: 1%
  } */

  @media (max-width: 1068px) {
    .nav_menu{
      display: flex;
  }

  .nav-active {
      display: flex;
  }

  .list1 li{
    display: none;
  }

  .tombol button{
    display: none;
  }
  }

  @media (max-width:768px){
    .sosmed{
        width: 80%;
    }
}
@media(max-width:993px){
    .masuk{
        display: none;
    }
    .footer .icon{
        justify-content: center;
    }
    .foot_main{
        flex-direction: column;
        justify-content: center;
    }
    .list{
        flex-direction: column;
        gap: 20px;
    }
   
}
