
*{
    box-sizing: border-box;
}
.masuk button{
    width: 80px;
    border: 1px solid #5DC3B2;
    height: 40px;
    border-radius: 50px;
    background-color: #5DC3B2;
}
.collapse .toko_desa{
    color: #5DC3B2;
}
.hero{
    margin-top: 100px;
}
.hero .teks_1{
    color: #5DC3B2;
}
.hero img{
    border-radius: 10px ;
}
.kolom_gambar img{
    width: 20%;
}
.hero .kolom_1{
    width: 70%;
}
.hero .kolom_2{
    width: 30%;
}
.hero .b_1{
    width: 78px;
    height: 33px;
    border: 1px solid #5DC3B2;
    background-color: #5DC3B2;
    border-radius:17px ;
}

/* .plus-min{
    display: flex;
    align-items: center;
   }

   .plus-min h5{
    padding: 15px;
   }

   .plus-min button{
    width: 45px;
    height: 45px;
    border-radius: 10px;
   }

   .plus-min span{
    font-size: 30px;
    padding: 0 10px;
   } */

   .plus-min{
    display: flex;
    align-items: center;
   }

   .plus-min p{
    padding: 10px;
   }

   .plus-min button{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
   }

   .plus-min input{
    width: 20px;
    height: 45px;
    border: 1px solid white;
   }

   .plus-min #jumlah{
    font-size: 25px;
   }

   .plus-min h5{
    padding: 10px;
    align-items: center;
   }


.bintang{
    color: #FDC72F;
}
.love{
    width: 66px;
    height: 66px; 
    border-radius: 20px;
    border: 1px solid #E9E9E9;
}
.minus{
    width: 41px;
    height: 41px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}
.plus{
    width: 41px;
    height: 41px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}
.jumlah{
    width: 200px;
}
.atur{
    font-size: 20px;
}
.keterangan{
    color: #2B2C2B;
    opacity: 50%;
}
.tombol .b_2, .b_3{
    width: 156px;
    height: 52px;
    border-radius: 50px;
}
.tombol .b_3{
    background-color: #FF7A00;
    border: 1px solid #FF7A00;
}
.tombol .b_2{
    border: 1px solid #FF7A00;
    color: #FF7A00;
}

.sosmed{
    width: 50%;
}
.sosmed img{
    width: 17%;
    border-radius: 50px;
}
.footer{
    background-color: #2B2C2B;
}
.footer hr{
    color: #FAFBFD;
}
.list{
    width: 60%;
    display: flex;
    align-items: center;
}
.list a{
    text-decoration: none;
    color: #FAFBFD;
}
.footer .icon{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 24px;
    gap: 15px;
}
.footer .icon .bi{
    color: white;
}
.rate_kanan{
    width: 30%;
}
.rate_kiri{
    width: 100%;
}
.li_rate{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rate_kiri ul li{
    align-items: center;
}
.rate h6{
    opacity: 50%;
}
.rate_main i{
    color: #FDC72F;
}
.check_list .i_1{
    opacity: 50%;
}
.persen{
    width: 15%;
}
.persen .poin{
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.foto_pembeli{
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}
.foto_pembeli img{
    width: 15%;
    border-radius: 10px;
}
.atas_kiri{
    width: 70%;
}
.ulas_atas{
    width: 90%;
}
.penilaian_produk{
    width: 40%;
}
.atas_kanan{
    width: 30%;
}
.star{
    color: #FDC72F;
}
.atas_kanan a{
    text-decoration: none;
    color: #FF7A00;
    width: 50%; 
}
.rate_ulas{
    display: none;
}
.ulas_main{
    width:90%;
}
.ulasan_pembeli p{
    color: #465170;
    opacity: 50%;
    font-size: 14px;
}
.ulasan_pembeli .pesan{
    color: #465170;
    opacity: 75%;
}
.bukti{
    width: 40%;
}
.bukti img{
    width: 100%;
    border-radius: 10px;
}
@media(max-width:993px){
    .masuk{
        display: none;
    }
    .footer .icon{
        justify-content: center;
    }
    .list{
        flex-direction: column;
        gap: 20px;
    }
    .foot_main{
        flex-direction: column;
        justify-content: center;
    }
    .foto_pembeli_1 img{
        height: auto;
    }
}
@media (max-width:768px){
    .sosmed{
        width: 80%;
    }
    .rate_main .row{
        display: none;
    }
    .rate_ulas{
        display: block;
    }
    .deskripsi .ul_1{
        width: 100%;
    }
    .deskripsi .container{
        display: flex;
        justify-content: center;
    }
}
